@import '../../global.css';

.header-home {
	height: 640px;
	background-image: url('../../../public/images/header-home-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
.logo {
	cursor: pointer;
}
.nav {
	display: flex;
	margin: 0;
	margin-left: 149px;
	padding-top: 30px;
}
.nav__list {
	display: flex;
	padding-left: 0;
}
.nav__item {
	cursor: pointer;
}
.nav__item:not(:last-child) {
	margin-right: 40px;
	font-size: 12px;
}
.header-home__content {
	margin-top: 111px;
}
.header-home__content-title {
	margin: 0;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
}
.header-home__content-decor {
	display: block;
	margin: 20px auto 0 auto;
}
.header-home__content-text {
	display: block;
	margin: 0;
	margin-top: 34px;
	font-size: 24px;
	text-align: center;
}
.header-home__content-text + .header-home__content-text {
	margin-top: 20px;
}
.header-home__content-btn {
	display: block;
	margin: 18px auto 0 auto;
	padding: 5px 42px 10px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: all .3s;
}
.header-home__content-btn:hover {
	color: #6f4e37;
	border: 2px solid #6f4e37;
}